#wpadminbar{
  z-index: 99992;
}

// Edit categories
body.term-php{
  #wpbody-content{
    > #poststuff{

      // Main container
      form#edittag{
        .acf-columns-2{
          margin-right: 0;

          .acf-column-1{
            display: flex;
            flex-direction: column;
            grid-gap: 0 20px;

            > *{
              order: 10;
            }

            > #titlediv{
              order: 1;
            }

            > #side-sortables{
              order: 1;
              margin-left: auto;
            }

            > .taxonomy-button{
              order: 2;
              margin-bottom: 20px;
              margin-right: auto;
            }

            h2,
            .form-table{
              order: 3;
            }

            > #normal-sortables{
              order: 4;
            }

            > #poststuff{
              > .termbox-container{
                > #normal-sortables{
                  display: none !important;
                }
              }
            }
          }
          .acf-column-2{
            display: none;
          }
        }
      }
    }
  }
}
